
{% extends "base.html" %}

{% block content %}
	{% if feeds %}
	<ul>
		{% for feed in feeds %}
		<li><a href="/feed{{ feed.id }}/">{{feed.title}}</a>
			<a href="/update_feed_{{ feed.id }}/">Update</a>
			<a href="/modify_feed_{{ feed.id }}/">Modify</a>
			<a href="/delete_feed_{{ feed.id }}/">Delete</a>
		</li>
		{% endfor %}

		<br>
		{% if prev != 'none' %}
		<a href="/feeds/page{{ prev }}">Previous</a>
		{% endif %}
		{% if next != 'none' %}
		<a href="/feeds/page{{ next }}">Next</a>
		{% endif %}
	</ul>
	{% else %}
	<p>No feeds are avaliable.</p>
	{% endif %}
{% endblock %}
